---
title: ""
author: ""
date: ""
format:
  pdf:
    pdf-engine: xelatex         # use XeLaTeX to avoid encoding issues and support better fonts
    keep-tex: false             # do not keep intermediate .tex file
toc: false                      # generate Table of Contents
lof: false                      # generate List of Figures
lot: false                      # generate List of Tables
number-sections: true           # add numbering to section headers
lang: en                        # set document language to English
encoding: UTF-8                 # ensure UTF-8 encoding
code-overflow: wrap             # wrap long lines of code to avoid overflow in PDF
df-print: kable                 # render data frames as kable tables instead of console text
execute:
  echo: True                    # Show code in output
  warning: false                # suppress warnings in output
  message: false                # suppress messages (e.g., from library loading)
  code-fold: false              # do not fold code chunks
---

\clearpage
# Cover Page {.unnumbered .unlisted}

**Course:** Applied Econometrics

**Assignment:** Group Coursework 1

**Group:** Group 6  


---

## Group Members {.unnumbered .unlisted}
- Niamh O’Hara
- Katarina Reiten
- Zakaria Achakane
- Kiril Grozdev
- Saanya Xavier  
\clearpage

\tableofcontents
\listoffigures
\listoftables
\clearpage

# 1.0 Introduction
Comment

## 1.1 Data Preparation

In [ ]:
# Load libraries
install.packages("lmtest")
library(lmtest)
install.packages("writexl")
library(writexl)
library(sandwich)
library(ggplot2)
library(xts)
library(dplyr)
library(lubridate)
library(knitr)
library(data.table)
library(tidyverse)
library(tidyr)


# Load datasets
rates <- read.csv("Effective Federal Funds Rate (EFFR) (Monthly).csv")
ff3_raw <- read.csv("F-F_Research_Data_Factors.csv", skip = 3)
industry12_raw <- read.csv("12_Industry_Portfolios.csv", skip = 11)
industry49_raw <- read.csv("49_Industry_Portfolios.csv", skip = 11)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

In [30]:
head(rates)
glimpse(rates)
summary(rates)

head(ff3_raw)
glimpse(ff3_raw)

head(industry12_raw)
head(industry49_raw)

  observation_date EFFR
1 2000-07-01       6.52
2 2000-08-01       6.50
3 2000-09-01       6.51
4 2000-10-01       6.52
5 2000-11-01       6.52
6 2000-12-01       6.45

Rows: 308
Columns: 2
$ observation_date <chr> "2000-07-01", "2000-08-01", "2000-09-01", "2000-10-01…
$ EFFR             <dbl> 6.52, 6.50, 6.51, 6.52, 6.52, 6.45, 6.02, 5.51, 5.32,…

 observation_date        EFFR
 Length:308         Min.   :0.050
 Class :character   1st Qu.:0.150
 Mode  :character   Median :1.260
                    Mean   :1.937
                    3rd Qu.:3.760
                    Max.   :6.520
                    NA's   :1

  X      Mkt.RF  SMB     HML     RF
1 192607    2.89   -2.55   -2.39    0.22
2 192608    2.64   -1.14    3.81    0.25
3 192609    0.38   -1.36    0.05    0.23
4 192610   -3.27   -0.14    0.82    0.32
5 192611    2.54   -0.11   -0.61    0.31
6 192612    2.62   -0.07    0.06    0.28

Rows: 1,296
Columns: 5
$ X      <chr> "192607", "192608", "192609", "192610", "192611", "192612", "19…
$ Mkt.RF <chr> "   2.89", "   2.64", "   0.38", "  -3.27", "   2.54", "   2.62…
$ SMB    <chr> "  -2.55", "  -1.14", "  -1.36", "  -0.14", "  -0.11", "  -0.07…
$ HML    <chr> "  -2.39", "   3.81", "   0.05", "   0.82", "  -0.61", "   0.06…
$ RF     <chr> "   0.22", "   0.25", "   0.23", "   0.32", "   0.31", "   0.28…

  X      NoDur   Durbl   Manuf   Enrgy   Chems   BusEq   Telcm   Utils
1 192607    1.44   13.90    3.67   -1.14    8.02    3.15    0.83    7.04
2 192608    3.99    3.70    2.41    3.43    5.10    1.98    2.17   -1.70
3 192609    1.15    4.98   -0.07   -3.30    5.38   -0.35    2.42    2.05
4 192610   -1.24   -8.39   -3.18   -0.78   -4.55   -5.38   -0.11   -3.27
5 192611    5.21   -0.17    4.03    0.01    5.09    4.79    1.63    4.40
6 192612    0.80    9.90    3.53    2.82    5.28   -1.80    1.99   -0.18
  Shops   Hlth    Money   Other
1    0.12    1.85   -0.02    2.23
2   -0.72    4.17    4.26    4.35
3    0.21    0.69   -1.63    0.39
4   -2.29   -0.57   -5.52   -2.75
5    6.45    5.43    2.54    2.11
6    0.62    0.09    2.16    3.51

  X      Agric   Food    Soda    Beer    Smoke   Toys    Fun     Books
1 192607    2.36    0.09  -99.99   -5.19    1.29    8.65    2.49   50.21
2 192608    2.23    2.71  -99.99   27.03    6.52   16.81   -0.76   42.98
3 192609   -0.57    1.59  -99.99    4.02    1.26    8.33    6.48   -4.91
4 192610   -0.46   -3.67  -99.99   -3.31    1.07   -1.40   -5.09    5.37
5 192611    6.75    6.26  -99.99    7.29    4.56    0.00    1.83   -6.62
6 192612   -3.28    0.18  -99.99   -4.09    2.55    2.48    2.16   -3.29
  Hshld   ⋯ Boxes   Trans   Whlsl   Rtail   Meals   Banks   Insur   RlEst
1   -0.49 ⋯    7.70    1.93  -23.79    0.08    1.88    4.61   -0.54    2.90
2   -3.58 ⋯   -2.37    4.85    5.39   -0.76   -0.13   10.71    2.57    5.31
3    0.72 ⋯   -5.54    0.10   -7.87    0.25   -0.56   -1.80    0.72   -3.06
4   -4.66 ⋯   -5.08   -2.63  -15.38   -2.19   -4.11  -11.93   -4.28   -5.75
5   -0.53 ⋯    3.85    1.61    4.67    6.54    4.33   -2.02    3.58    2.21
6    2.56 ⋯   -4.63    3.67    9.65    0.57    1.51   -2.45    3.26    7.95
  Fin     Other
1   -5.77    5.20
2    0.32    6.76
3   -4.83   -3.58
4   -0.95   -8.47
5    5.13    4.16
6   -1.59   -2.44

In [31]:
# Clean data

# Clean rates
rates <- rates %>%
  rename(date = observation_date,
         interest_rate = EFFR)

glimpse(rates)

# Clean ff3
ff3 <- ff3_raw %>%
  rename(raw_date = `...1`) %>%
  filter(raw_date != "Annual") %>%
  mutate(
    date = as.Date(paste0(raw_date, "01"), format = "%Y%m%d"),
    market_excess_return = as.numeric(`Mkt-RF`) / 100
  ) %>%
  select(date, market_excess_return)


#Clean Industry 12
industry12 <- industry12_raw %>%
  rename(raw_date = `...1`) %>%
  filter(raw_date != "Annual") %>%
  mutate(
    date = as.Date(paste0(raw_date, "01"), format = "%Y%m%d")
  ) %>%
  select(-raw_date) %>%
  mutate(across(-date, as.numeric)) %>%
  mutate(across(-date, ~ . / 100))


# Clean Industry 49
toys <- industry49_raw %>%
  rename(raw_date = `...1`) %>%
  filter(raw_date != "Annual") %>%
  mutate(
    date = as.Date(paste0(raw_date, "01"), format = "%Y%m%d"),
    Toys = as.numeric(Toys) / 100
  ) %>%
  select(date, Toys)

head(ff3)
head(industry12)
head(toys)


# Merge datasets
data_merged <- ff3 %>%
  left_join(rates, by = "date") %>%
  left_join(toys, by = "date")


# Check merge quality
nrow(ff3) == nrow(data_merged)
sum(is.na(data_merged$interest_rate))
sum(is.na(data_merged$Toys))

glimpse(data_merged)

nrow(ff3) == nrow(data_merged)
sum(is.na(data_merged$interest_rate))

Rows: 308
Columns: 2
$ date          <chr> "2000-07-01", "2000-08-01", "2000-09-01", "2000-10-01", …
$ interest_rate <dbl> 6.52, 6.50, 6.51, 6.52, 6.52, 6.45, 6.02, 5.51, 5.32, 4.…

ERROR: Error in `rename()`:
! Can't rename columns that don't exist.
✖ Column `...1` doesn't exist.